.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sectionHeader h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #111827;
}

.viewAll {
  font-size: 12px;
  color: #625E56;
  cursor: pointer;
}

.viewAll:hover {
  text-decoration: underline;
}

.bgW {
  background: #ffffff;
  padding: 24px;
  border-radius: 15px;
}