.dashboard {
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  background: white;
}
 
.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  margin-top: 30px;
}
 
.labelLine {
  width: 6px;
  height: 32px;
  background: linear-gradient(180deg, #ec008c, #ff7aa8);
  border-radius: 2px;
}
 
.label h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #0511f2;
  line-height: 100%;
}
 
/* TOP SECTION */
.topSection {
  background: #f8f8f9;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}
.topSection2{
  background: #F8F8F9;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
}
 
/* WHITE WRAPPER */
// .sectionWrapper {
//   background: #ffffff;
//   border-radius: 16px;
//   padding: 24px;
// }
 
/* GRIDS (LAYOUT ONLY) */
.grid {
  display: grid;
  gap: 12px;
}
 
.gridTwo {
  grid-template-columns: repeat(2, 1fr);
}
 
.gridFiveSmall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
 
.gridFourLarge {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
 
.gridDocuments {
  display: flex;
  flex-direction: column;
}
 
/* RESPONSIVE */
@media (max-width: 640px) {
  .gridTwo {
    grid-template-columns: 1fr;
  }
}
.scrollWrapper {
  max-height: 201px; // 👈 exactly 2 rows (4 cards)
  overflow-y: auto;
  padding-right: 6px;
}
 
 
/* Optional: smooth scrollbar */
.scrollWrapper::-webkit-scrollbar {
  width: 6px;
}
 
.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
 
.scrollWrapper::-webkit-scrollbar-track {
  background: transparent;
}
 .CanvasZoneSectionContainer {
    max-width: 100% !important;
}